<div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5 style="vertical-align: inherit;" style="vertical-align: inherit;">Sección</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="vertical-align: inherit;" style="vertical-align: inherit;">Hogar</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="vertical-align: inherit;" style="vertical-align: inherit;">Características</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="vertical-align: inherit;" style="vertical-align: inherit;">Precios></a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="vertical-align: inherit;" style="vertical-align: inherit;">Preguntas frecuentes</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="vertical-align: inherit;" style="vertical-align: inherit;">Acerca de</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5 style="vertical-align: inherit;" style="vertical-align: inherit;">Sección</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="vertical-align: inherit;" style="vertical-align: inherit;">Hogar</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="vertical-align: inherit;" style="vertical-align: inherit;">Características</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="vertical-align: inherit;" style="vertical-align: inherit;">Precios</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="vertical-align: inherit;" style="vertical-align: inherit;">Preguntas frecuentes</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="vertical-align: inherit;" style="vertical-align: inherit;">Acerca de</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5 style="vertical-align: inherit;" style="vertical-align: inherit;">Sección</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="vertical-align: inherit;" style="vertical-align: inherit;">Hogar</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="vertical-align: inherit;" style="vertical-align: inherit;">Características</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="vertical-align: inherit;" style="vertical-align: inherit;">Precios</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="vertical-align: inherit;" style="vertical-align: inherit;">Preguntas frecuentes</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="vertical-align: inherit;" style="vertical-align: inherit;">Acerca de</a></li>
          </ul>
        </div>
      </div>
  
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p style="vertical-align: inherit;" style="vertical-align: inherit;">© 2024 Company, Inc. Todos los derechos reservados.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-body-emphasis" href="https://twitter.com/?lang=es"><img src="./assets/Imagenes/TWITTERFOOTER.png"class="bi" width="24" height="24" ></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="https://www.instagram.com/"><img src="./assets/Imagenes/INSTAGRAMFOOTER.png" class="bi" width="24" height="24"></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="https://www.youtube.com/"><img src="./assets/Imagenes/YOUTUBEFOOTER.png" class="bi" width="24" height="24"></a></li>
        </ul>
      </div>
    </footer>
  </div>
