*{
    background-color: #393b3f;
}
h2, p{
    color: white;
}

button{
    background-color: #2BC138;
    margin-bottom: 20px;
    color: white;
}
::placeholder{
    color: white
}
.form-label{
    color: white
}
h2{
    margin-top: -40px;
    padding-top: 20px;
}

   
