<div>
  <div class="container mb-5">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex flex-column justify-content-center align-items-start h-100">
          <h2>Conoce a Nuestro Equipo TEAM 3</h2>
          <p>Somos un equipo apasionado y comprometido con la satisfacción del cliente. Nuestro objetivo es ofrecer el mejor servicio y productos de alta calidad. Estamos aquí para ayudarte con lo que necesites y asegurarnos de que tengas la mejor experiencia posible.<br><br>Fernando: Es el encargado de la creación del home y del contacto<br>Pablo: Es el encargado de hacer el pago.<br>Mario: Es el encargado de hacer el login y registro.<br>Juan: Es el encargado de hacer el catálogo y productos.</p>
        </div>
      </div>
      <div class="col-md-6" style="margin-top: 20px;">
        <img src="./assets/Imagenes/foto grupal.jpeg" alt="Foto del equipo" class="img-fluid rounded" width="500px">
      </div>
    </div>
  </div>
  
  <div class="container mt-5 mt-lg-7" style="margin-left: 450px;"> 
    <h2 class="text-left">Contáctanos</h2> 
    <form>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" style="background-color: white; width: 800px;" id="nombre" placeholder="Introduce tu nombre">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" style="background-color: white; width: 800px;" id="email" placeholder="Introduce tu email">
      </div>
      <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea class="form-control" style="background-color: white; width: 800px;" id="mensaje" rows="4" placeholder="Introduce tu mensaje"></textarea>
      </div>
      <button type="button" class="btn btn-dark" style="background-color: #2BC138;">Enviar</button>
    </form>
  </div>
</div>