<div class="container-md mt-5"> 
  <div id="main-carousel" class="carousel slide" data-bs-ride="carousel">
    
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    
    <div class="carousel-inner" style="height: 400px;"> 
      <div class="carousel-item active">
        <img src="./assets/Imagenes/chica.jpg"  class="d-block w-100" alt="Producto 1">
      </div>
      <div class="carousel-item">
        <img src="./assets/Imagenes/movil.webp" height="800" class="d-block w-100" alt="Producto 2">
      </div>
      <div class="carousel-item">
        <img src="./assets/Imagenes/tecleando.jpg" class="d-block w-100" alt="Producto 3">
      </div>
    </div>

    
    <button class="carousel-control-prev" type="button" data-bs-target="#main-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#main-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</div>

  
  
  <div class="container my-5">
    <h2>Nuestra Misión</h2>
    <p>En nuestra tienda, estamos dedicados a proporcionar productos de calidad y un servicio excepcional. Nuestra misión es ofrecer a nuestros clientes una experiencia de compra única y satisfacer sus necesidades.</p>
  </div>
  
 
  <div class="container my-5" id="products">
    <h2>Productos Destacados</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="./assets/Imagenes/portatil Intel.png" class="card-img-top" alt="Producto 1">
          <div class="card-body">
            <h5 class="card-title">Producto 1</h5>
            <p class="card-text">Una breve descripción del Producto 1.</p>
            <a href="#" class="btn btn-primary">Ver Producto</a>
            <a href="#" class="btn btn-success">Comprar Ahora</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="./assets/Imagenes/Tablet Huawei.png" class="card-img-top" alt="Producto 2">
          <div class="card-body">
            <h5 class="card-title">Producto 2</h5>
            <p class="card-text">Una breve descripción del Producto 2.</p>
            <a href="#" class="btn btn-primary">Ver Producto</a>
            <a href="#" class="btn btn-success">Comprar Ahora</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="./assets/Imagenes/iPhone1.png" class="card-img-top" alt="Producto 3">
          <div class="card-body">
            <h5 class="card-title">Producto 3</h5>
            <p class="card-text">Una breve descripción del Producto 3.</p>
            <a href="#" class="btn btn-primary">Ver Producto</a>
            <a href="#" class="btn btn-success">Comprar Ahora</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="./assets/Imagenes/Anillo1.png" class="card-img-top" alt="Producto 4">
          <div class="card-body">
            <h5 class="card-title">Producto 4</h5>
            <p class="card-text">Una breve descripción del Producto 4.</p>
            <a href="#" class="btn btn-primary">Ver Producto</a>
            <a href="#" class="btn btn-success">Comprar Ahora</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="container my-5" id="about-us">
    <h2>Quiénes Somos</h2>
    <div class="row">
      <div class="col-md-6">
        <p>Somos una tienda con la misión de brindar productos de calidad y experiencias únicas para nuestros clientes. Nuestro objetivo es ser líderes en el sector y siempre ofrecer lo mejor a nuestros clientes.</p>
      </div>
      <div class="col-md-6">
        <img src="https://via.placeholder.com/400x300" alt="Imagen de la tienda" class="img-fluid">
      </div>
    </div>
  </div>
