
*{
    background-color: #393b3f;
}

.btn{
    background-color: #2bc138;
    color:  rgb(247, 252, 253);
}
.card-link{
    color:  white;
    display: flex;
    justify-content:end;
}
h1{
   margin-bottom: 20px; 
   margin-top: 40px;
   color: rgb(247, 252, 253) ;
}
h3, h5{
    color: white;
}