

<body>
  <div class="content-fluid">
    <div class="row justify-content-around">
        <h1>Portátiles</h1>
      <div class="col-3">
        <div class="card" style="width: 22rem;">
            <img src="./assets/Imagenes/Portatil.png" height="300" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="Samsung">Samsung Galaxy Book3</h3>
              <h5 class="card-text">Precio: 999.65€</h5>
              <a href="#" class="card-link ">Ver detalles</a>
              <div>
                <a href="#" class="btn">Pago</a>
              </div>
              
              
            </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 22rem;">
            <img src="./assets/Imagenes/portatilapple.png" height="300" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="Apple">Apple Macbook Air</h3>
              <h5 class="card-text">Precio: 1298,95€</h5>
              <a href="#" class="card-link">Ver detalles</a>
              <div>
                <a href="#" class="btn ">Pago</a>
              </div>
            </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 22rem;">
            <img src="./assets/Imagenes/portatil Intel.png" height="300" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="HP">HP Victus 16</h3>
              <h5 class="card-text">Precio: 1199,00€</h5>
              <a href="#" class="card-link">Ver detalles</a>
              <div>
                <a href="#" class="btn ">Pago</a>
              </div>
            </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 22rem;">
            <img src="./assets/Imagenes/Portatil Asus.png" height="300"class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="ASUS">ASUS VivoBook 15</h5>
              <p class="card-text">Precio: 569,00€</p>
              <a href="#" class="card-link">Ver detalles</a>
              <div>
                <a href="#" class="btn ">Pago</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="content-fluid">
    <div class="row justify-content-around">
      <h1>Tablets / iPads</h1>
      <div class="col-3">
        <div class="card" style="width: 22rem;">
            <img src="./assets/Imagenes/Tablet.png" height="300" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="SamsungTab">Samsung Galaxy Tab S9</h3>
              <h5 class="card-text">Precio: 1409,00€</h5>
              <a href="#" class="card-link">Ver detalles</a>
              <div>
                <a href="#" class="btn ">Pago</a>
              </div>
            </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 22rem;">
            <img src="./assets/Imagenes/iPad.png" height="300" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="AppleIPad">Apple iPad Pro 2022</h3>
              <h5 class="card-text">Precio: 1790,00€</h5>
              <a href="#" class="card-link">Ver detalles</a>
              <div>
                <a href="#" class="btn">Pago</a>
              </div>
            </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 22rem;">
            <img src="./assets/Imagenes/Tablet Huawei.png" height="300" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="HuaweiTab">Huawei MateBook D 14</h3>
              <h5 class="card-text">Precio: 1050,00€</h5>           
              <a href="#" class="card-link">Ver detalles</a>
              <div>
                <a href="#" class="btn">Pago</a>
              </div>
            </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 22rem;">
            <img src="./assets/Imagenes/Tablet Xiaomi.png" height="300"class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="XiaomiPad">Xiaomi Pad 6 Go</h3>
              <h5 class="card-text">Precio: 920,00€</h5>
              <a href="#" class="card-link">Ver detalles</a>
              <div>
                <a href="#" class="btn">Pago</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  
  </div>
  <div class="content-fluid">
    <div class="row justify-content-around">
      <h1>Smartphones</h1>
      <div class="col-3">
        <div class="card" style="width: 22rem;">
            <img src="./assets/Imagenes/Samsung5.png" height="300" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="SamsungGal">Samsung Galaxy Z Flip5</h3>
              <h5 class="card-text">Precio: 1049,00</h5>
              <a href="#" class="card-link">Ver detalles</a>
              <div>
                <a href="#" class="btn">Pago</a>
              </div>
            </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 22rem;">
            <img src="./assets/Imagenes/iPhone1.png" height="300" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="iPhone15">iPhone 15 Pro MAX</h3>
              <h5 class="card-text">Precio: 1200,00</h5>
              <a href="#" class="card-link">Ver detalles</a>
              <div>
                <a href="#" class="btn">Pago</a>
              </div>
            </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 22rem;">
            <img src="./assets/Imagenes/Huawei.png" height="300" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="Huawei5G">Huawei P40 Lite 5G</h3>
              <h5 class="card-text">Precio: 800,00€</h5>           
              <a href="#" class="card-link">Ver detalles</a>
              <div>
                <a href="#" class="btn">Pago</a>
              </div>
            </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 22rem;">
            <img src="./assets/Imagenes/Movil Xiaomi.png" height="300"class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="XiaomiPhone">Xiaomi Redmi Note 13</h3>
              <h5 class="card-text">Precio: 1120,00€</h5>
              <a href="#" class="card-link">Ver detalles</a>
              <div>
                <a href="#" class="btn">Pago</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="content-fluid">
    <div class="row justify-content-around">
      <h1>Accesorios</h1>
      <div class="col-3">
        <div class="card" style="width: 22rem;">
            <img src="./assets/Imagenes/Cargador portatil.png" height="300" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="CargadorPor">Coolreall Power Bank</h3>
              <h5 class="card-text">Precio: 60,90</h5>
              <a href="#" class="card-link">Ver detalles</a>
              <div>
                <a href="#" class="btn">Pago</a>
              </div>
            </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 22rem;">
            <img src="./assets/Imagenes/Airtag.png" height="300" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="AppleAirTag">Apple AirTag </h3>
              <h5 class="card-text">Precio: 105,99</h5>
              <a href="#" class="card-link">Ver detalles</a>
              <div>
                <a href="#" class="btn">Pago</a>
              </div>
            </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 22rem;">
            <img src="./assets/Imagenes/Anillo1.png" height="300" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="AnilloUL">Anillo Ultrahuman</h3>
              <h5 class="card-text">Precio: 220,00€</h5>           
              <a href="#" class="card-link">Ver detalles</a>
              <div>
                <a href="#" class="btn">Pago</a>
              </div>
            </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 22rem;">
            <img src="./assets/Imagenes/Multiconector.png" height="300"class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="Multiconector">Multiconector Ugreen</h3>
              <h5 class="card-text">Precio: 50,00€</h5>
              <a href="#" class="card-link">Ver detalles</a>
              <div>
                <a href="#" class="btn">Pago</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>




