body{
    background-color: rgb(73, 74, 76);
    
}
.btn{
    background-color: #2bc138;
    color:  rgb(247, 252, 253);
}
.card-link{
    color:  #0b0b0b;
    display: flex;
    justify-content:end;
}
h1{
   margin-bottom: 20px; 
   margin-top: 40px;
   color: rgb(247, 252, 253) ;
}