<div class="content-fluid">
    <div class="row justify-conten-center">
        <div class="col-12">
            <h2>Data Disney</h2>
            <h3>{{bdataPersonajes.info.count}}</h3>
            <h3>{{bdataPersonajes.info.nextPage}}</h3>
            <h3>{{bdataPersonajes.info.totalPages}}</h3>
            <h3>{{bdataPersonajes.info.previousPage}}</h3>
        </div>
    </div>
    <div class="row justify-conten-space-around">
        @for (personaje of bdataPersonajes.data; track personaje) {
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{personaje.imageUrl}}" class="card-img-top" alt="..." width="200px">
                    <div class="card-body">
                      <h5 class="card-title">{{personaje.name}}</h5>
                      <p class="card-text">{{personaje._id}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">{{personaje.allies}}</li>
                      <li class="list-group-item">{{personaje.enemies}}</li>
                      <li class="list-group-item">{{personaje.createdAt}}</li>
                      <li class="list-group-item">{{personaje.films}}</li>
                      <li class="list-group-item">{{personaje.tvShows}}</li>
                      <li class="list-group-item">{{personaje.parkAttractions}}</li>
                      <li class="list-group-item">{{personaje.sourceUrl}}</li>
                    </ul>
                  
                  </div>
            </div>
        }
        
    </div>
</div>
