.btn {
    background-color: #545050;
    color:  rgb(247, 252, 253);

}
body{
    background: rgb(225, 229, 230);
}


.row{
    padding-top: 40px;
}
h4{
    display: flex;
    justify-content: center;
}
.card{
    margin-left: 90px;
}