
<div class="row g-0 text-center">
  <div class="col-sm-6 col-md-6" style="color: white;">
        @for (categoria of productos.categorias; track categoria) {
          @for (marca of categoria.nombre; track marca) {}
            
          @if ((categoria.id) == 1) {
            <p></p>
            <h1>{{categoria.nombreMarca}}</h1>
            <h2>{{categoria.nombre}}</h2>
            <img src="./assets/Imagenes/portatilapplegris.png" style="width: 500px;"  alt="">
            
          }
        }
  </div>
  
  <div class="col-6 col-md-6 "  style="color: white;">
          @for (categoria of productos.categorias; track categoria) {
            
            
              @if ((categoria.id) == 1){
                
                <h3>{{categoria.caracteristicas}}</h3>
                <p>{{categoria.descripcion}}</p>
                <h3>{{categoria.precio}}</h3>
                <a routerLink="/pago" class="btn">Añadir al carrito</a>
                
                
              }

            }
  </div>

  
  <div class="row justify-content-around" style="margin-bottom: 20px;">
    <h4>Productos relacionados</h4>

    <div class="col-4" >
      <img src="./assets/Imagenes/Multiconectorgris.png"  routerLink="/catalogo" style="width: 200px; height: 200px;"  alt="">
    </div>
    <div class="col-4 ">
      <img src="./assets/Imagenes/Anillo1gris.png" routerLink="/catalogo" style="width: 200px; height: 200px"  alt="">
    </div>
    <div class="col-4 ">
      <img src="./assets/Imagenes/Airtaggris.png" routerLink="/catalogo" style="width: 200px; height: 200px;"  alt="">
    </div>
    
  </div>
</div>



















