.btn {
    background-color:  #2bc138;
    color:  rgb(247, 252, 253);

}
*{
    background-color: #393b3f;
}

.row{
    padding-top: 40px;
}
h4{
    display: flex;
    justify-content: center;
    color: rgb(247, 252, 253)
}
.card{
    margin-left: 90px;
}
h3, h2, p, h5{
    color: rgb(247, 252, 253) ;
}

